<ion-header [translucent]="false">
  <ion-toolbar class="custom-header">
    <div class="header-content">
      <h1 class="header-title">Reservations</h1>
      <p class="header-subtitle">Manage your reservations</p>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button class="custom-button" (click)="goToNewReservation()">New Reservation</ion-button>
  <ion-list>
    @for(reservation of reservations; track reservation.id){
        <ion-item>
          <ion-label>
            <h2>{{ reservation.name }}</h2>
            <p>{{ reservation.date | date:'short' }}</p>
          </ion-label>
        </ion-item>
      }
  </ion-list>
</ion-content>
