<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="clients" href="/tabs/clients">
      <ion-icon aria-hidden="true" name="people"></ion-icon>
      <ion-label>Clients</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="reservations" href="/tabs/reservations">
      <ion-icon aria-hidden="true" name="calendar"></ion-icon>
      <ion-label>Reservations</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="products" href="/tabs/products">
      <ion-icon aria-hidden="true" name="basket"></ion-icon>
      <ion-label>Products</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
